In [2]:
import pandas as pd
import random

In [4]:
gastos = {"Meus Gastos": [random.randint(1, 100) for i in range(1, 31)]}
gastos

{'meus_gastos': [8,
  66,
  69,
  44,
  27,
  69,
  30,
  62,
  86,
  30,
  31,
  100,
  47,
  28,
  31,
  57,
  68,
  32,
  21,
  6,
  11,
  87,
  25,
  96,
  10,
  62,
  7,
  4,
  71,
  99]}

In [7]:
df_meus_gastos = pd.DataFrame(gastos)
df_meus_gastos.head()

   meus_gastos
0            8
1           66
2           69
3           44
4           27

In [8]:
df_meus_gastos['meus_gastos'].cumsum()

0        8
1       74
2      143
3      187
4      214
5      283
6      313
7      375
8      461
9      491
10     522
11     622
12     669
13     697
14     728
15     785
16     853
17     885
18     906
19     912
20     923
21    1010
22    1035
23    1131
24    1141
25    1203
26    1210
27    1214
28    1285
29    1384
Name: meus_gastos, dtype: int64