## Lista de bibliotecas importadas para realização do projeto

In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Importação dos dados para análise

In [3]:
# abrindo o arquivo contendo do DataSet e transformando-os em DataFrame para melhor vizualisação e análise:

df = pd.read_csv('./datasets/application_train.csv')

print('planilha de treino: ', df_application_train.shape)

NameError: name 'df_application_train' is not defined

In [4]:
pd.options.display.max_columns = 150

# Realização da Exploração e Análise dos Dados - EDA (Expoloration Data Analysis)

### Passo 1 - Entendendo os dados e preparando os dados:

#### A. Conhecendo o df:

In [5]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,456162,0,Cash loans,F,N,N,0,112500.0,700830.0,22738.5,585000.0,Unaccompanied,Working,Incomplete higher,Single / not married,House / apartment,0.019689,-8676,-813,-4163.0,-1363,NaN,1,1,1,1,0,0,Core staff,1.0,2,2,FRIDAY,17,0,0,0,1,1,0,Trade: type 2,NaN,0.699373,0.171468,0.0619,0.0302,0.9762,0.6736,0.0055,0.0,0.1034,0.1667,0.0417,0.0000,0.0504,0.0507,0.0,0.0,0.0630,0.0313,0.9762,0.6864,0.0055,0.0,0.1034,0.1667,0.0417,0.0000,0.0551,0.0528,0.0,0.0,0.0625,0.0302,0.9762,0.6780,0.0055,0.0,0.1034,0.1667,0.0417,0.0000,0.0513,0.0516,0.0,0.0,reg oper account,block of flats,0.0399,Block,No,0.0,0.0,0.0,0.0,-589.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,134978,0,Cash loans,F,N,N,0,90000.0,375322.5,14422.5,324000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.025164,-13583,-223,-3554.0,-3287,NaN,1,1,0,1,0,0,High skill tech staff,2.0,2,2,MONDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.541385,0.199651,0.768808,0.0227,0.0566,0.9806,0.7348,0.0161,0.0,0.1034,0.0417,0.0833,0.0133,0.0185,0.0184,0.0,0.0,0.0231,0.0587,0.9806,0.7452,0.0162,0.0,0.1034,0.0417,0.0833,0.0136,0.0202,0.0192,0.0,0.0,0.0229,0.0566,0.9806,0.7383,0.0162,0.0,0.1034,0.0417,0.0833,0.0135,0.0188,0.0187,0.0,0.0,reg oper account,block of flats,0.0158,Block,No,0.0,0.0,0.0,0.0,-1409.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
2,318952,0,Cash loans,M,Y,N,0,180000.0,544491.0,16047.0,454500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-13993,-6202,-7971.0,-4175,9.0,1,1,1,1,0,0,Managers,2.0,2,2,THURSDAY,15,0,0,0,0,0,0,Business Entity Type 1,NaN,0.704880,0.626304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,-675.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,1.0,3.0
3,361264,0,Cash loans,F,N,Y,0,270000.0,814041.0,28971.0,679500.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.046220,-22425,365243,-11805.0,-1732,NaN,1,0,0,1,1,0,NaN,2.0,1,1,TUESDAY,9,0,0,0,0,0,0,XNA,NaN,0.724576,0.810618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0121,NaN,No,2.0,0.0,2.0,0.0,-1588.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
4,260639,0,Cash loans,F,N,Y,0,144000.0,675000.0,21906.0,675000.0,Unaccompanied,Working,Secondary / secondary special,Separated,House / apartment,0.026392,-18839,-2763,-5069.0,-2381,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,FRIDAY,16,0,0,0,0,0,0,Transport: type 4,0.592466,0.706310,0.331251,0.1907,0.1802,0.9891,0.8504,0.0344,0.0,0.4483,0.1667,0.2083,0.2751,0.1555,0.2060,0.0,0.0,0.1943,0.1870,0.9891,0.8563,0.0348,0.0,0.4483,0.1667,0.2083,0.2814,0.1699,0.2146,0.0,0.0,0.1926,0.1802,0.9891,0.8524,0.0347,0.0,0.4483,0.1667,0.2083,0.2799,0.1582,0.2097,0.0,0.0,reg oper account,block of flats,0.1620,Panel,No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,10.0,0.0,0.0

Constata-se que o dataset é grande com muitos dados e colunas de difícil entendimento.

#### B. Verificando os tipos de dados contidos no df por coluna:

In [6]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246008 entries, 0 to 246007
Data columns (total 122 columns):
 #    Column                        Dtype
---   ------                        -----
 0    SK_ID_CURR                    int64
 1    TARGET                        int64
 2    NAME_CONTRACT_TYPE            object
 3    CODE_GENDER                   object
 4    FLAG_OWN_CAR                  object
 5    FLAG_OWN_REALTY               object
 6    CNT_CHILDREN                  int64
 7    AMT_INCOME_TOTAL              float64
 8    AMT_CREDIT                    float64
 9    AMT_ANNUITY                   float64
 10   AMT_GOODS_PRICE               float64
 11   NAME_TYPE_SUITE               object
 12   NAME_INCOME_TYPE              object
 13   NAME_EDUCATION_TYPE           object
 14   NAME_FAMILY_STATUS            object
 15   NAME_HOUSING_TYPE             object
 16   REGION_POPULATION_RELATIVE    float64
 17   DAYS_BIRTH                    int64
 18   DAYS_EMPLOYED                 int64
 19   DAYS_REGISTRATION             float64
 20   DAYS_ID_PUBLISH               int64
 21   OWN_CAR_AGE                   float64
 22   FLAG_MOBIL                    int64
 23   FLAG_EMP_PHONE                int64
 24   FLAG_WORK_PHONE               int64
 25   FLAG_CONT_MOBILE              int64
 26   FLAG_PHONE                    int64
 27   FLAG_EMAIL                    int64
 28   OCCUPATION_TYPE               object
 29   CNT_FAM_MEMBERS               float64
 30   REGION_RATING_CLIENT          int64
 31   REGION_RATING_CLIENT_W_CITY   int64
 32   WEEKDAY_APPR_PROCESS_START    object
 33   HOUR_APPR_PROCESS_START       int64
 34   REG_REGION_NOT_LIVE_REGION    int64
 35   REG_REGION_NOT_WORK_REGION    int64
 36   LIVE_REGION_NOT_WORK_REGION   int64
 37   REG_CITY_NOT_LIVE_CITY        int64
 38   REG_CITY_NOT_WORK_CITY        int64
 39   LIVE_CITY_NOT_WORK_CITY       int64
 40   ORGANIZATION_TYPE             object
 41   EXT_SOURCE_1                  float64
 42   EXT_SOURCE_2                  float64
 43   EXT_SOURCE_3                  float64
 44   APARTMENTS_AVG                float64
 45   BASEMENTAREA_AVG              float64
 46   YEARS_BEGINEXPLUATATION_AVG   float64
 47   YEARS_BUILD_AVG               float64
 48   COMMONAREA_AVG                float64
 49   ELEVATORS_AVG                 float64
 50   ENTRANCES_AVG                 float64
 51   FLOORSMAX_AVG                 float64
 52   FLOORSMIN_AVG                 float64
 53   LANDAREA_AVG                  float64
 54   LIVINGAPARTMENTS_AVG          float64
 55   LIVINGAREA_AVG                float64
 56   NONLIVINGAPARTMENTS_AVG       float64
 57   NONLIVINGAREA_AVG             float64
 58   APARTMENTS_MODE               float64
 59   BASEMENTAREA_MODE             float64
 60   YEARS_BEGINEXPLUATATION_MODE  float64
 61   YEARS_BUILD_MODE              float64
 62   COMMONAREA_MODE               float64
 63   ELEVATORS_MODE                float64
 64   ENTRANCES_MODE                float64
 65   FLOORSMAX_MODE                float64
 66   FLOORSMIN_MODE                float64
 67   LANDAREA_MODE                 float64
 68   LIVINGAPARTMENTS_MODE         float64
 69   LIVINGAREA_MODE               float64
 70   NONLIVINGAPARTMENTS_MODE      float64
 71   NONLIVINGAREA_MODE            float64
 72   APARTMENTS_MEDI               float64
 73   BASEMENTAREA_MEDI             float64
 74   YEARS_BEGINEXPLUATATION_MEDI  float64
 75   YEARS_BUILD_MEDI              float64
 76   COMMONAREA_MEDI               float64
 77   ELEVATORS_MEDI                float64
 78   ENTRANCES_MEDI                float64
 79   FLOORSMAX_MEDI                float64
 80   FLOORSMIN_MEDI                float64
 81   LANDAREA_MEDI                 float64
 82   LIVINGAPARTMENTS_MEDI         float64
 83   LIVINGAREA_MEDI               float64
 84   NONLIVINGAPARTMENTS_MEDI      float64
 85   NONLIVINGAREA_MEDI            float64
 86   FONDKAPREMONT_MODE            object
 87   HOUSETYPE_MODE                object
 88   TOTALAREA_MODE                float64
 89   WALLSMATERIAL_MODE            object
 90   EMERGENCYSTATE_MODE           object
 91   OBS_30_CNT_SOCIAL_CIRCLE      float64
 92   DEF_30_CNT_SOCIAL_CIRCLE      float64
 93   OBS_60_CNT_SOCIAL_CIRCLE      float64
 94   DEF_60_CNT_SOCIAL_CIRCLE      float64
 95   DAYS_LAST_PHONE_CHANGE        float64
 96   FLAG_DOCUMENT_2               int64
 97   FLAG_DOCUMENT_3               int64
 98   FLAG_DOCUMENT_4               int64
 99   FLAG_DOCUMENT_5               int64
 100  FLAG_DOCUMENT_6               int64
 101  FLAG_DOCUMENT_7               int64
 102  FLAG_DOCUMENT_8               int64
 103  FLAG_DOCUMENT_9               int64
 104  FLAG_DOCUMENT_10              int64
 105  FLAG_DOCUMENT_11              int64
 106  FLAG_DOCUMENT_12              int64
 107  FLAG_DOCUMENT_13              int64
 108  FLAG_DOCUMENT_14              int64
 109  FLAG_DOCUMENT_15              int64
 110  FLAG_DOCUMENT_16              int64
 111  FLAG_DOCUMENT_17              int64
 112  FLAG_DOCUMENT_18              int64
 113  FLAG_DOCUMENT_19              int64
 114  FLAG_DOCUMENT_20              int64
 115  FLAG_DOCUMENT_21              int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    float64
 117  AMT_REQ_CREDIT_BUREAU_DAY     float64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    float64
 119  AMT_REQ_CREDIT_BUREAU_MON     float64
 120  AMT_REQ_CREDIT_BUREAU_QRT     float64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    float64
dtypes: float64(65), int64(41), object(16)
memory usage: 229.0+ MB

Conclue-se que a maior parte do dataset é constitído de dados numéricos, são poucas colunas com dados classificatórios.

#### C. Verificando se há linhas duplicadas:

In [7]:
df.duplicated().value_counts()

False    246008
dtype: int64

Constata-se, portanto, que não há linhas duplicadas.

#### D. Verificando se há ou não dados nulos:

In [8]:
df.isnull().sum().head(70)

SK_ID_CURR                    0
TARGET                        0
NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
                          ...
FLOORSMAX_MODE           122483
FLOORSMIN_MODE           166999
LANDAREA_MODE            146087
LIVINGAPARTMENTS_MODE    168278
LIVINGAREA_MODE          123617
Length: 70, dtype: int64

Foram encontrados dados nulos em algumas colunas que deverão ser tratados.

#### E. Tratando os dados nulos:

Quantificando os dados nulos:

In [9]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246008 entries, 0 to 246007
Data columns (total 122 columns):
 #    Column                        Non-Null Count   Dtype
---   ------                        --------------   -----
 0    SK_ID_CURR                    246008 non-null  int64
 1    TARGET                        246008 non-null  int64
 2    NAME_CONTRACT_TYPE            246008 non-null  object
 3    CODE_GENDER                   246008 non-null  object
 4    FLAG_OWN_CAR                  246008 non-null  object
 5    FLAG_OWN_REALTY               246008 non-null  object
 6    CNT_CHILDREN                  246008 non-null  int64
 7    AMT_INCOME_TOTAL              246008 non-null  float64
 8    AMT_CREDIT                    246008 non-null  float64
 9    AMT_ANNUITY                   245998 non-null  float64
 10   AMT_GOODS_PRICE               245782 non-null  float64
 11   NAME_TYPE_SUITE               244960 non-null  object
 12   NAME_INCOME_TYPE              246008 non-null  object
 13   NAME_EDUCATION_TYPE           246008 non-null  object
 14   NAME_FAMILY_STATUS            246008 non-null  object
 15   NAME_HOUSING_TYPE             246008 non-null  object
 16   REGION_POPULATION_RELATIVE    246008 non-null  float64
 17   DAYS_BIRTH                    246008 non-null  int64
 18   DAYS_EMPLOYED                 246008 non-null  int64
 19   DAYS_REGISTRATION             246008 non-null  float64
 20   DAYS_ID_PUBLISH               246008 non-null  int64
 21   OWN_CAR_AGE                   83649 non-null   float64
 22   FLAG_MOBIL                    246008 non-null  int64
 23   FLAG_EMP_PHONE                246008 non-null  int64
 24   FLAG_WORK_PHONE               246008 non-null  int64
 25   FLAG_CONT_MOBILE              246008 non-null  int64
 26   FLAG_PHONE                    246008 non-null  int64
 27   FLAG_EMAIL                    246008 non-null  int64
 28   OCCUPATION_TYPE               168771 non-null  object
 29   CNT_FAM_MEMBERS               246007 non-null  float64
 30   REGION_RATING_CLIENT          246008 non-null  int64
 31   REGION_RATING_CLIENT_W_CITY   246008 non-null  int64
 32   WEEKDAY_APPR_PROCESS_START    246008 non-null  object
 33   HOUR_APPR_PROCESS_START       246008 non-null  int64
 34   REG_REGION_NOT_LIVE_REGION    246008 non-null  int64
 35   REG_REGION_NOT_WORK_REGION    246008 non-null  int64
 36   LIVE_REGION_NOT_WORK_REGION   246008 non-null  int64
 37   REG_CITY_NOT_LIVE_CITY        246008 non-null  int64
 38   REG_CITY_NOT_WORK_CITY        246008 non-null  int64
 39   LIVE_CITY_NOT_WORK_CITY       246008 non-null  int64
 40   ORGANIZATION_TYPE             246008 non-null  object
 41   EXT_SOURCE_1                  107205 non-null  float64
 42   EXT_SOURCE_2                  245464 non-null  float64
 43   EXT_SOURCE_3                  197280 non-null  float64
 44   APARTMENTS_AVG                121053 non-null  float64
 45   BASEMENTAREA_AVG              101918 non-null  float64
 46   YEARS_BEGINEXPLUATATION_AVG   125912 non-null  float64
 47   YEARS_BUILD_AVG               82328 non-null   float64
 48   COMMONAREA_AVG                74030 non-null   float64
 49   ELEVATORS_AVG                 114800 non-null  float64
 50   ENTRANCES_AVG                 122064 non-null  float64
 51   FLOORSMAX_AVG                 123525 non-null  float64
 52   FLOORSMIN_AVG                 79009 non-null   float64
 53   LANDAREA_AVG                  99921 non-null   float64
 54   LIVINGAPARTMENTS_AVG          77730 non-null   float64
 55   LIVINGAREA_AVG                122391 non-null  float64
 56   NONLIVINGAPARTMENTS_AVG       75094 non-null   float64
 57   NONLIVINGAREA_AVG             110148 non-null  float64
 58   APARTMENTS_MODE               121053 non-null  float64
 59   BASEMENTAREA_MODE             101918 non-null  float64
 60   YEARS_BEGINEXPLUATATION_MODE  125912 non-null  float64
 61   YEARS_BUILD_MODE              82328 non-null   float64
 62   COMMONAREA_MODE               74030 non-null   float64
 63   ELEVATORS_MODE                114800 non-null  float64
 64   ENTRANCES_MODE                122064 non-null  float64
 65   FLOORSMAX_MODE                123525 non-null  float64
 66   FLOORSMIN_MODE                79009 non-null   float64
 67   LANDAREA_MODE                 99921 non-null   float64
 68   LIVINGAPARTMENTS_MODE         77730 non-null   float64
 69   LIVINGAREA_MODE               122391 non-null  float64
 70   NONLIVINGAPARTMENTS_MODE      75094 non-null   float64
 71   NONLIVINGAREA_MODE            110148 non-null  float64
 72   APARTMENTS_MEDI               121053 non-null  float64
 73   BASEMENTAREA_MEDI             101918 non-null  float64
 74   YEARS_BEGINEXPLUATATION_MEDI  125912 non-null  float64
 75   YEARS_BUILD_MEDI              82328 non-null   float64
 76   COMMONAREA_MEDI               74030 non-null   float64
 77   ELEVATORS_MEDI                114800 non-null  float64
 78   ENTRANCES_MEDI                122064 non-null  float64
 79   FLOORSMAX_MEDI                123525 non-null  float64
 80   FLOORSMIN_MEDI                79009 non-null   float64
 81   LANDAREA_MEDI                 99921 non-null   float64
 82   LIVINGAPARTMENTS_MEDI         77730 non-null   float64
 83   LIVINGAREA_MEDI               122391 non-null  float64
 84   NONLIVINGAPARTMENTS_MEDI      75094 non-null   float64
 85   NONLIVINGAREA_MEDI            110148 non-null  float64
 86   FONDKAPREMONT_MODE            77616 non-null   object
 87   HOUSETYPE_MODE                122468 non-null  object
 88   TOTALAREA_MODE                127171 non-null  float64
 89   WALLSMATERIAL_MODE            120844 non-null  object
 90   EMERGENCYSTATE_MODE           129247 non-null  object
 91   OBS_30_CNT_SOCIAL_CIRCLE      245195 non-null  float64
 92   DEF_30_CNT_SOCIAL_CIRCLE      245195 non-null  float64
 93   OBS_60_CNT_SOCIAL_CIRCLE      245195 non-null  float64
 94   DEF_60_CNT_SOCIAL_CIRCLE      245195 non-null  float64
 95   DAYS_LAST_PHONE_CHANGE        246007 non-null  float64
 96   FLAG_DOCUMENT_2               246008 non-null  int64
 97   FLAG_DOCUMENT_3               246008 non-null  int64
 98   FLAG_DOCUMENT_4               246008 non-null  int64
 99   FLAG_DOCUMENT_5               246008 non-null  int64
 100  FLAG_DOCUMENT_6               246008 non-null  int64
 101  FLAG_DOCUMENT_7               246008 non-null  int64
 102  FLAG_DOCUMENT_8               246008 non-null  int64
 103  FLAG_DOCUMENT_9               246008 non-null  int64
 104  FLAG_DOCUMENT_10              246008 non-null  int64
 105  FLAG_DOCUMENT_11              246008 non-null  int64
 106  FLAG_DOCUMENT_12              246008 non-null  int64
 107  FLAG_DOCUMENT_13              246008 non-null  int64
 108  FLAG_DOCUMENT_14              246008 non-null  int64
 109  FLAG_DOCUMENT_15              246008 non-null  int64
 110  FLAG_DOCUMENT_16              246008 non-null  int64
 111  FLAG_DOCUMENT_17              246008 non-null  int64
 112  FLAG_DOCUMENT_18              246008 non-null  int64
 113  FLAG_DOCUMENT_19              246008 non-null  int64
 114  FLAG_DOCUMENT_20              246008 non-null  int64
 115  FLAG_DOCUMENT_21              246008 non-null  int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    212836 non-null  float64
 117  AMT_REQ_CREDIT_BUREAU_DAY     212836 non-null  float64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    212836 non-null  float64
 119  AMT_REQ_CREDIT_BUREAU_MON     212836 non-null  float64
 120  AMT_REQ_CREDIT_BUREAU_QRT     212836 non-null  float64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    212836 non-null  float64
dtypes: float64(65), int64(41), object(16)
memory usage: 229.0+ MB

In [10]:
df.isnull().sum().head(60)

SK_ID_CURR                          0
TARGET                              0
NAME_CONTRACT_TYPE                  0
CODE_GENDER                         0
FLAG_OWN_CAR                        0
FLAG_OWN_REALTY                     0
CNT_CHILDREN                        0
AMT_INCOME_TOTAL                    0
AMT_CREDIT                          0
AMT_ANNUITY                        10
AMT_GOODS_PRICE                   226
NAME_TYPE_SUITE                  1048
NAME_INCOME_TYPE                    0
NAME_EDUCATION_TYPE                 0
NAME_FAMILY_STATUS                  0
NAME_HOUSING_TYPE                   0
REGION_POPULATION_RELATIVE          0
DAYS_BIRTH                          0
DAYS_EMPLOYED                       0
DAYS_REGISTRATION                   0
DAYS_ID_PUBLISH                     0
OWN_CAR_AGE                    162359
FLAG_MOBIL                          0
FLAG_EMP_PHONE                      0
FLAG_WORK_PHONE                     0
FLAG_CONT_MOBILE                    0
FLAG_PHONE                          0
FLAG_EMAIL                          0
OCCUPATION_TYPE                 77237
CNT_FAM_MEMBERS                     1
REGION_RATING_CLIENT                0
REGION_RATING_CLIENT_W_CITY         0
WEEKDAY_APPR_PROCESS_START          0
HOUR_APPR_PROCESS_START             0
REG_REGION_NOT_LIVE_REGION          0
REG_REGION_NOT_WORK_REGION          0
LIVE_REGION_NOT_WORK_REGION         0
REG_CITY_NOT_LIVE_CITY              0
REG_CITY_NOT_WORK_CITY              0
LIVE_CITY_NOT_WORK_CITY             0
ORGANIZATION_TYPE                   0
EXT_SOURCE_1                   138803
EXT_SOURCE_2                      544
EXT_SOURCE_3                    48728
APARTMENTS_AVG                 124955
BASEMENTAREA_AVG               144090
YEARS_BEGINEXPLUATATION_AVG    120096
YEARS_BUILD_AVG                163680
COMMONAREA_AVG                 171978
ELEVATORS_AVG                  131208
ENTRANCES_AVG                  123944
FLOORSMAX_AVG                  122483
FLOORSMIN_AVG                  166999
LANDAREA_AVG                   146087
LIVINGAPARTMENTS_AVG           168278
LIVINGAREA_AVG                 123617
NONLIVINGAPARTMENTS_AVG        170914
NONLIVINGAREA_AVG              135860
APARTMENTS_MODE                124955
BASEMENTAREA_MODE              144090
dtype: int64

Visualizando a porcentagem de dados faltantes por coluna:

In [11]:
nulos_por_coluna = df.isnull().mean()*100
nulos_por_coluna.head(60)

SK_ID_CURR                      0.000000
TARGET                          0.000000
NAME_CONTRACT_TYPE              0.000000
CODE_GENDER                     0.000000
FLAG_OWN_CAR                    0.000000
FLAG_OWN_REALTY                 0.000000
CNT_CHILDREN                    0.000000
AMT_INCOME_TOTAL                0.000000
AMT_CREDIT                      0.000000
AMT_ANNUITY                     0.004065
AMT_GOODS_PRICE                 0.091867
NAME_TYPE_SUITE                 0.426002
NAME_INCOME_TYPE                0.000000
NAME_EDUCATION_TYPE             0.000000
NAME_FAMILY_STATUS              0.000000
NAME_HOUSING_TYPE               0.000000
REGION_POPULATION_RELATIVE      0.000000
DAYS_BIRTH                      0.000000
DAYS_EMPLOYED                   0.000000
DAYS_REGISTRATION               0.000000
DAYS_ID_PUBLISH                 0.000000
OWN_CAR_AGE                    65.997447
FLAG_MOBIL                      0.000000
FLAG_EMP_PHONE                  0.000000
FLAG_WORK_PHONE                 0.000000
FLAG_CONT_MOBILE                0.000000
FLAG_PHONE                      0.000000
FLAG_EMAIL                      0.000000
OCCUPATION_TYPE                31.396133
CNT_FAM_MEMBERS                 0.000406
REGION_RATING_CLIENT            0.000000
REGION_RATING_CLIENT_W_CITY     0.000000
WEEKDAY_APPR_PROCESS_START      0.000000
HOUR_APPR_PROCESS_START         0.000000
REG_REGION_NOT_LIVE_REGION      0.000000
REG_REGION_NOT_WORK_REGION      0.000000
LIVE_REGION_NOT_WORK_REGION     0.000000
REG_CITY_NOT_LIVE_CITY          0.000000
REG_CITY_NOT_WORK_CITY          0.000000
LIVE_CITY_NOT_WORK_CITY         0.000000
ORGANIZATION_TYPE               0.000000
EXT_SOURCE_1                   56.422149
EXT_SOURCE_2                    0.221131
EXT_SOURCE_3                   19.807486
APARTMENTS_AVG                 50.793064
BASEMENTAREA_AVG               58.571266
YEARS_BEGINEXPLUATATION_AVG    48.817925
YEARS_BUILD_AVG                66.534422
COMMONAREA_AVG                 69.907483
ELEVATORS_AVG                  53.334851
ENTRANCES_AVG                  50.382101
FLOORSMAX_AVG                  49.788218
FLOORSMIN_AVG                  67.883565
LANDAREA_AVG                   59.383028
LIVINGAPARTMENTS_AVG           68.403467
LIVINGAREA_AVG                 50.249179
NONLIVINGAPARTMENTS_AVG        69.474976
NONLIVINGAREA_AVG              55.225846
APARTMENTS_MODE                50.793064
BASEMENTAREA_MODE              58.571266
dtype: float64

In [12]:
nulos_por_coluna.tail(60)

COMMONAREA_MODE                 69.907483
ELEVATORS_MODE                  53.334851
ENTRANCES_MODE                  50.382101
FLOORSMAX_MODE                  49.788218
FLOORSMIN_MODE                  67.883565
LANDAREA_MODE                   59.383028
LIVINGAPARTMENTS_MODE           68.403467
LIVINGAREA_MODE                 50.249179
NONLIVINGAPARTMENTS_MODE        69.474976
NONLIVINGAREA_MODE              55.225846
APARTMENTS_MEDI                 50.793064
BASEMENTAREA_MEDI               58.571266
YEARS_BEGINEXPLUATATION_MEDI    48.817925
YEARS_BUILD_MEDI                66.534422
COMMONAREA_MEDI                 69.907483
ELEVATORS_MEDI                  53.334851
ENTRANCES_MEDI                  50.382101
FLOORSMAX_MEDI                  49.788218
FLOORSMIN_MEDI                  67.883565
LANDAREA_MEDI                   59.383028
LIVINGAPARTMENTS_MEDI           68.403467
LIVINGAREA_MEDI                 50.249179
NONLIVINGAPARTMENTS_MEDI        69.474976
NONLIVINGAREA_MEDI              55.225846
FONDKAPREMONT_MODE              68.449807
HOUSETYPE_MODE                  50.217879
TOTALAREA_MODE                  48.306153
WALLSMATERIAL_MODE              50.878020
EMERGENCYSTATE_MODE             47.462278
OBS_30_CNT_SOCIAL_CIRCLE         0.330477
DEF_30_CNT_SOCIAL_CIRCLE         0.330477
OBS_60_CNT_SOCIAL_CIRCLE         0.330477
DEF_60_CNT_SOCIAL_CIRCLE         0.330477
DAYS_LAST_PHONE_CHANGE           0.000406
FLAG_DOCUMENT_2                  0.000000
FLAG_DOCUMENT_3                  0.000000
FLAG_DOCUMENT_4                  0.000000
FLAG_DOCUMENT_5                  0.000000
FLAG_DOCUMENT_6                  0.000000
FLAG_DOCUMENT_7                  0.000000
FLAG_DOCUMENT_8                  0.000000
FLAG_DOCUMENT_9                  0.000000
FLAG_DOCUMENT_10                 0.000000
FLAG_DOCUMENT_11                 0.000000
FLAG_DOCUMENT_12                 0.000000
FLAG_DOCUMENT_13                 0.000000
FLAG_DOCUMENT_14                 0.000000
FLAG_DOCUMENT_15                 0.000000
FLAG_DOCUMENT_16                 0.000000
FLAG_DOCUMENT_17                 0.000000
FLAG_DOCUMENT_18                 0.000000
FLAG_DOCUMENT_19                 0.000000
FLAG_DOCUMENT_20                 0.000000
FLAG_DOCUMENT_21                 0.000000
AMT_REQ_CREDIT_BUREAU_HOUR      13.484114
AMT_REQ_CREDIT_BUREAU_DAY       13.484114
AMT_REQ_CREDIT_BUREAU_WEEK      13.484114
AMT_REQ_CREDIT_BUREAU_MON       13.484114
AMT_REQ_CREDIT_BUREAU_QRT       13.484114
AMT_REQ_CREDIT_BUREAU_YEAR      13.484114
dtype: float64

Constata-se do resultado acima que há colunas com uma porcentagem alta de valores nulos. Tais colunas não terão grande influencia na construção do aprendizado de máquina e por isso serão excluídas aquelas com o percentual acima de 20%.

Será utilizado o método dropna com os parâmetros thresh (parâmetro que apaga as colunas que não tenham o pelo menos a quantidade de valores não nulos passados, ou seja, se a coluna tiver valores não nulos menor daquele passado no parâmetro, será deletada) e o parâmetro axis (aponta qual serie será deletado linha (0) ou coluna (1).

No presente caso, o thresh receberá o valor de 80% do tamanho do dataframe, ou seja, a coluna ou linha deverá conter pelo menos 80% das linhas preenchidas com valores não nulos, caso a porcentagem seja menor, a coluna ou linha será excluída. Já o axis receberá  o valor 1, indicando que a coluna será descartada.

In [13]:
df = df.dropna(thresh=len(df)*0.8, axis=1)

Após a exclusão das colunas com os parâmetros acima, restaram 72 colunas no dataframe, conforme verifica-se abaixo:

In [14]:
df.shape[1]

72

In [15]:
df.head().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 72 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   SK_ID_CURR                   5 non-null      int64
 1   TARGET                       5 non-null      int64
 2   NAME_CONTRACT_TYPE           5 non-null      object
 3   CODE_GENDER                  5 non-null      object
 4   FLAG_OWN_CAR                 5 non-null      object
 5   FLAG_OWN_REALTY              5 non-null      object
 6   CNT_CHILDREN                 5 non-null      int64
 7   AMT_INCOME_TOTAL             5 non-null      float64
 8   AMT_CREDIT                   5 non-null      float64
 9   AMT_ANNUITY                  5 non-null      float64
 10  AMT_GOODS_PRICE              5 non-null      float64
 11  NAME_TYPE_SUITE              5 non-null      object
 12  NAME_INCOME_TYPE             5 non-null      object
 13  NAME_EDUCATION_TYPE          5 non-null      object
 14  NAME_FAMILY_STATUS           5 non-null      object
 15  NAME_HOUSING_TYPE            5 non-null      object
 16  REGION_POPULATION_RELATIVE   5 non-null      float64
 17  DAYS_BIRTH                   5 non-null      int64
 18  DAYS_EMPLOYED                5 non-null      int64
 19  DAYS_REGISTRATION            5 non-null      float64
 20  DAYS_ID_PUBLISH              5 non-null      int64
 21  FLAG_MOBIL                   5 non-null      int64
 22  FLAG_EMP_PHONE               5 non-null      int64
 23  FLAG_WORK_PHONE              5 non-null      int64
 24  FLAG_CONT_MOBILE             5 non-null      int64
 25  FLAG_PHONE                   5 non-null      int64
 26  FLAG_EMAIL                   5 non-null      int64
 27  CNT_FAM_MEMBERS              5 non-null      float64
 28  REGION_RATING_CLIENT         5 non-null      int64
 29  REGION_RATING_CLIENT_W_CITY  5 non-null      int64
 30  WEEKDAY_APPR_PROCESS_START   5 non-null      object
 31  HOUR_APPR_PROCESS_START      5 non-null      int64
 32  REG_REGION_NOT_LIVE_REGION   5 non-null      int64
 33  REG_REGION_NOT_WORK_REGION   5 non-null      int64
 34  LIVE_REGION_NOT_WORK_REGION  5 non-null      int64
 35  REG_CITY_NOT_LIVE_CITY       5 non-null      int64
 36  REG_CITY_NOT_WORK_CITY       5 non-null      int64
 37  LIVE_CITY_NOT_WORK_CITY      5 non-null      int64
 38  ORGANIZATION_TYPE            5 non-null      object
 39  EXT_SOURCE_2                 5 non-null      float64
 40  EXT_SOURCE_3                 5 non-null      float64
 41  OBS_30_CNT_SOCIAL_CIRCLE     5 non-null      float64
 42  DEF_30_CNT_SOCIAL_CIRCLE     5 non-null      float64
 43  OBS_60_CNT_SOCIAL_CIRCLE     5 non-null      float64
 44  DEF_60_CNT_SOCIAL_CIRCLE     5 non-null      float64
 45  DAYS_LAST_PHONE_CHANGE       5 non-null      float64
 46  FLAG_DOCUMENT_2              5 non-null      int64
 47  FLAG_DOCUMENT_3              5 non-null      int64
 48  FLAG_DOCUMENT_4              5 non-null      int64
 49  FLAG_DOCUMENT_5              5 non-null      int64
 50  FLAG_DOCUMENT_6              5 non-null      int64
 51  FLAG_DOCUMENT_7              5 non-null      int64
 52  FLAG_DOCUMENT_8              5 non-null      int64
 53  FLAG_DOCUMENT_9              5 non-null      int64
 54  FLAG_DOCUMENT_10             5 non-null      int64
 55  FLAG_DOCUMENT_11             5 non-null      int64
 56  FLAG_DOCUMENT_12             5 non-null      int64
 57  FLAG_DOCUMENT_13             5 non-null      int64
 58  FLAG_DOCUMENT_14             5 non-null      int64
 59  FLAG_DOCUMENT_15             5 non-null      int64
 60  FLAG_DOCUMENT_16             5 non-null      int64
 61  FLAG_DOCUMENT_17             5 non-null      int64
 62  FLAG_DOCUMENT_18             5 non-null      int64
 63  FLAG_DOCUMENT_19             5 non-null      int64
 64  FLAG_DOCUMENT_20             5 non-null      int64
 65  FLAG_DOCUMENT_21             5 non-null      int64
 66  AMT_REQ_CREDIT_BUREAU_HOUR   5 non-null      float64
 67  AMT_REQ_CREDIT_BUREAU_DAY    5 non-null      float64
 68  AMT_REQ_CREDIT_BUREAU_WEEK   5 non-null      float64
 69  AMT_REQ_CREDIT_BUREAU_MON    5 non-null      float64
 70  AMT_REQ_CREDIT_BUREAU_QRT    5 non-null      float64
 71  AMT_REQ_CREDIT_BUREAU_YEAR   5 non-null      float64
dtypes: float64(20), int64(41), object(11)
memory usage: 2.9+ KB

Entretanto, ainda há dados nulos no dataframe a serem tratados, todavia, em quantitavo muito inferior a 7.326.502, facilitando o tratamento, conforme abaixo:

In [16]:
df.isnull().sum().sum()

252842

In [17]:
df.isnull().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     33172
AMT_REQ_CREDIT_BUREAU_WEEK    33172
AMT_REQ_CREDIT_BUREAU_MON     33172
AMT_REQ_CREDIT_BUREAU_QRT     33172
AMT_REQ_CREDIT_BUREAU_YEAR    33172
Length: 72, dtype: int64

In [18]:
nulos_por_coluna = df.isnull().mean()*100
nulos_por_coluna.tail(60)

NAME_INCOME_TYPE                0.000000
NAME_EDUCATION_TYPE             0.000000
NAME_FAMILY_STATUS              0.000000
NAME_HOUSING_TYPE               0.000000
REGION_POPULATION_RELATIVE      0.000000
DAYS_BIRTH                      0.000000
DAYS_EMPLOYED                   0.000000
DAYS_REGISTRATION               0.000000
DAYS_ID_PUBLISH                 0.000000
FLAG_MOBIL                      0.000000
FLAG_EMP_PHONE                  0.000000
FLAG_WORK_PHONE                 0.000000
FLAG_CONT_MOBILE                0.000000
FLAG_PHONE                      0.000000
FLAG_EMAIL                      0.000000
CNT_FAM_MEMBERS                 0.000406
REGION_RATING_CLIENT            0.000000
REGION_RATING_CLIENT_W_CITY     0.000000
WEEKDAY_APPR_PROCESS_START      0.000000
HOUR_APPR_PROCESS_START         0.000000
REG_REGION_NOT_LIVE_REGION      0.000000
REG_REGION_NOT_WORK_REGION      0.000000
LIVE_REGION_NOT_WORK_REGION     0.000000
REG_CITY_NOT_LIVE_CITY          0.000000
REG_CITY_NOT_WORK_CITY          0.000000
LIVE_CITY_NOT_WORK_CITY         0.000000
ORGANIZATION_TYPE               0.000000
EXT_SOURCE_2                    0.221131
EXT_SOURCE_3                   19.807486
OBS_30_CNT_SOCIAL_CIRCLE        0.330477
DEF_30_CNT_SOCIAL_CIRCLE        0.330477
OBS_60_CNT_SOCIAL_CIRCLE        0.330477
DEF_60_CNT_SOCIAL_CIRCLE        0.330477
DAYS_LAST_PHONE_CHANGE          0.000406
FLAG_DOCUMENT_2                 0.000000
FLAG_DOCUMENT_3                 0.000000
FLAG_DOCUMENT_4                 0.000000
FLAG_DOCUMENT_5                 0.000000
FLAG_DOCUMENT_6                 0.000000
FLAG_DOCUMENT_7                 0.000000
FLAG_DOCUMENT_8                 0.000000
FLAG_DOCUMENT_9                 0.000000
FLAG_DOCUMENT_10                0.000000
FLAG_DOCUMENT_11                0.000000
FLAG_DOCUMENT_12                0.000000
FLAG_DOCUMENT_13                0.000000
FLAG_DOCUMENT_14                0.000000
FLAG_DOCUMENT_15                0.000000
FLAG_DOCUMENT_16                0.000000
FLAG_DOCUMENT_17                0.000000
FLAG_DOCUMENT_18                0.000000
FLAG_DOCUMENT_19                0.000000
FLAG_DOCUMENT_20                0.000000
FLAG_DOCUMENT_21                0.000000
AMT_REQ_CREDIT_BUREAU_HOUR     13.484114
AMT_REQ_CREDIT_BUREAU_DAY      13.484114
AMT_REQ_CREDIT_BUREAU_WEEK     13.484114
AMT_REQ_CREDIT_BUREAU_MON      13.484114
AMT_REQ_CREDIT_BUREAU_QRT      13.484114
AMT_REQ_CREDIT_BUREAU_YEAR     13.484114
dtype: float64

Continuando o tratamento dos dados nulos, podemos, ainda, excluir as linhas que contem 1 ou mais dados nulos, visto que a perda de dados em relação ao seu total (em torno de 20%) não será significativa para comprometer o aprendizado do modelo, posto que o volume de dados é alto.

In [19]:
df = df.dropna(axis=0)

In [20]:
df.shape[0]

195427

Uma vez que, após a exclusão das linhas duplicadas, o dataframe permanecerá com o index das linhas originais, devemos reorganizá-lo, a fim, de facilitar a leitura das linhas, utilizando o método reset_index com o parêmatro drop=True, a fim de não transformar o index em coluna, apenas para tê-lo como referência no momento de leitura e análise do dataframe.

In [21]:
df = df.reset_index(drop=True)
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,456162,0,Cash loans,F,N,N,0,112500.0,700830.0,22738.5,585000.0,Unaccompanied,Working,Incomplete higher,Single / not married,House / apartment,0.019689,-8676,-813,-4163.0,-1363,1,1,1,1,0,0,1.0,2,2,FRIDAY,17,0,0,0,1,1,0,Trade: type 2,0.699373,0.171468,0.0,0.0,0.0,0.0,-589.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,134978,0,Cash loans,F,N,N,0,90000.0,375322.5,14422.5,324000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.025164,-13583,-223,-3554.0,-3287,1,1,0,1,0,0,2.0,2,2,MONDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.199651,0.768808,0.0,0.0,0.0,0.0,-1409.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
2,318952,0,Cash loans,M,Y,N,0,180000.0,544491.0,16047.0,454500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-13993,-6202,-7971.0,-4175,1,1,1,1,0,0,2.0,2,2,THURSDAY,15,0,0,0,0,0,0,Business Entity Type 1,0.704880,0.626304,1.0,1.0,1.0,1.0,-675.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,1.0,3.0
3,361264,0,Cash loans,F,N,Y,0,270000.0,814041.0,28971.0,679500.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.046220,-22425,365243,-11805.0,-1732,1,0,0,1,1,0,2.0,1,1,TUESDAY,9,0,0,0,0,0,0,XNA,0.724576,0.810618,2.0,0.0,2.0,0.0,-1588.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
4,260639,0,Cash loans,F,N,Y,0,144000.0,675000.0,21906.0,675000.0,Unaccompanied,Working,Secondary / secondary special,Separated,House / apartment,0.026392,-18839,-2763,-5069.0,-2381,1,1,0,1,1,0,1.0,2,2,FRIDAY,16,0,0,0,0,0,0,Transport: type 4,0.706310,0.331251,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,10.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195422,345713,0,Cash loans,F,N,N,0,166500.0,568800.0,15003.0,450000.0,Unaccompanied,Commercial associate,Higher education,Civil marriage,House / apartment,0.025164,-14510,-421,-3343.0,-4474,1,1,1,1,1,0,2.0,2,2,THURSDAY,14,0,0,0,1,1,0,Trade: type 3,0.637487,0.169429,0.0,0.0,0.0,0.0,-2593.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,3.0,0.0,5.0
195423,200147,0,Revolving loans,M,Y,N,1,157500.0,382500.0,19125.0,382500.0,Unaccompanied,Working,Academic degree,Separated,House / apartment,0.019101,-14800,-2399,-8865.0,-4348,1,1,0,1,0,0,2.0,2,2,TUESDAY,13,0,0,0,1,0,1,Business Entity Type 1,0.543398,0.762336,2.0,0.0,2.0,0.0,-1529.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
195424,242114,0,Cash loans,F,N,Y,1,270000.0,1172470.5,34411.5,918000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,0.035792,-15992,-4333,-10024.0,-4089,1,1,0,1,0,0,3.0,2,2,FRIDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.701172,0.689479,6.0,0.0,6.0,0.0,-2791.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,8.0
195425,452374,0,Cash loans,F,N,Y,0,180000.0,654498.0,27859.5,585000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.003122,-23798,365243,-3734.0,-4637,1,0,0,1,0,0,2.0,3,3,SATURDAY,13,0,0,0,1,0,0,XNA,0.364945,0.716570,0.0,0.0,0.0,0.0,-1431.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
195426,236776,1,Cash loans,M,Y,N,3,202500.0,204858.0,17653.5,171000.0,Unaccompanied,Working,Secondary / secondary special,Married,With parents,0.016612,-14418,-2840,-1900.0,-4443,1,1,0,1,0,0,5.0,2,2,SUNDAY,10,0,0,0,0,0,0,Self-employed,0.390046,0.813917,0.0,0.0,0.0,0.0,-2612.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### F. Analisando as colunas e suas correlações:

A finalidade neste tópico é perceber quais colunas são as mais importantes para o dataset.

In [22]:
correlacao = df.corr()

In [23]:
correlacao

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,1.000000,-0.004272,-0.000492,-0.002806,-0.000605,0.000044,-0.000453,-0.001227,-0.003431,0.003005,-0.002301,-0.000513,NaN,-0.002926,0.000685,0.002935,0.005775,-0.001185,-0.001274,0.001457,0.001078,-0.001656,0.000689,0.001353,0.002739,-0.000664,0.000276,0.001030,0.000692,0.002770,-0.001962,-0.001408,-0.002065,-0.000677,0.000797,NaN,-0.004394,-0.001836,0.001054,0.002013,-0.003299,0.002290,0.001494,0.001199,-0.003113,-0.001314,-0.000468,-0.001498,0.003360,-0.001076,0.000837,0.000337,0.002587,0.000803,-0.001366,-0.004168,-0.004764,0.004687,-0.000885,0.000576,0.004648
TARGET,-0.004272,1.000000,0.019789,0.001019,-0.029558,-0.013597,-0.038335,-0.032728,0.079629,-0.044696,0.039999,0.048825,NaN,0.045747,0.025142,0.001320,-0.023655,0.000376,0.012323,0.054294,0.056758,-0.018734,0.006861,0.006715,0.001798,0.044932,0.049396,0.030638,-0.154902,-0.179593,0.008960,0.027399,0.008947,0.026526,0.050940,NaN,0.043853,-0.002641,-0.000791,-0.027358,-0.000194,-0.006550,-0.003240,-0.000934,-0.006366,-0.000934,-0.011915,-0.008353,-0.007217,-0.009992,-0.004986,-0.007161,-0.001646,0.000039,0.003280,0.000801,0.004947,0.000246,-0.014120,-0.001992,0.021867
CNT_CHILDREN,-0.000492,0.019789,1.000000,0.011825,0.001565,0.023432,-0.002274,-0.019870,0.348222,-0.243009,0.186664,-0.031019,NaN,0.244094,0.052250,-0.000347,-0.033830,0.026235,0.880926,0.020377,0.019746,-0.006347,-0.011060,0.009650,0.014613,0.024716,0.073329,0.070189,-0.016895,-0.042865,0.013996,-0.001842,0.013610,-0.002765,-0.003638,NaN,0.052781,-0.004500,-0.017647,-0.159056,-0.000246,0.055739,-0.003830,-0.001867,-0.003169,0.000342,0.005884,-0.006412,0.004595,0.008417,0.001621,0.002649,0.002027,0.003170,-0.001457,0.000484,-0.000537,-0.002241,-0.010693,-0.011758,-0.043750
AMT_INCOME_TOTAL,-0.002806,0.001019,0.011825,1.000000,0.129363,0.158894,0.131262,0.061584,0.026819,-0.054460,0.023442,0.009917,NaN,0.054331,-0.014601,-0.006988,-0.000450,0.033719,0.013107,-0.071613,-0.076676,0.028810,0.026888,0.052927,0.049137,0.004958,0.006576,0.007363,0.046660,-0.028970,-0.011192,-0.011120,-0.011159,-0.010587,-0.014086,NaN,-0.012134,0.000105,0.000310,-0.038174,0.005278,0.061893,0.011715,-0.000036,0.002845,0.002631,0.019478,0.017793,0.008129,0.006063,0.001705,0.002799,0.002233,0.000263,-0.000646,0.000793,0.001986,0.002096,0.022098,0.003764,0.010510
AMT_CREDIT,-0.000605,-0.029558,0.001565,0.129363,1.000000,0.771750,0.986917,0.100623,-0.046282,-0.069241,0.010116,0.001354,NaN,0.067979,-0.015053,0.027324,0.029006,0.016268,0.061249,-0.100773,-0.109717,0.052622,0.024404,0.050780,0.051109,-0.025290,-0.016111,0.002445,0.127071,0.043152,-0.000912,-0.021424,-0.000976,-0.023296,-0.070497,NaN,0.100509,-0.003123,-0.007569,-0.047772,-0.001934,0.082379,0.020970,-0.001168,0.034800,0.004728,0.055793,0.051593,0.029545,0.064389,0.008247,0.037230,0.019716,0.034587,-0.014004,-0.003922,0.004894,-0.003130,0.055448,0.017268,-0.048587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AMT_REQ_CREDIT_BUREAU_DAY,-0.004764,0.004947,-0.000537,0.001986,0.004894,0.002780,0.005382,-0.002703,0.001488,-0.000714,0.000353,-0.002259,NaN,0.000721,-0.003329,-0.004622,-0.000529,0.003403,-0.001506,-0.000072,0.000542,0.001842,-0.003243,-0.004226,-0.004300,-0.001877,-0.002060,-0.002649,-0.001494,-0.010053,-0.002694,-0.000511,-0.002828,-0.001088,0.003227,NaN,0.002270,-0.000570,-0.001420,0.003003,-0.000741,-0.002254,0.000994,-0.000202,0.005427,0.014442,0.009003,0.004256,0.000580,0.008664,-0.001076,0.013706,0.000388,0.000418,-0.001038,0.233973,1.000000,0.210407,-0.004090,-0.005195,-0.003923
AMT_REQ_CREDIT_BUREAU_WEEK,0.004687,0.000246,-0.002241,0.002096,-0.003130,0.012339,-0.002922,-0.003824,0.001793,0.001287,0.000685,0.001304,NaN,-0.001223,-0.003364,-0.010624,-0.001437,0.024526,-0.000475,0.003339,0.002790,-0.004948,0.001967,-0.001062,-0.002173,-0.000277,-0.002317,-0.003783,0.000031,-0.022011,0.000393,-0.002937,0.000523,-0.002523,-0.001526,NaN,0.008200,-0.001536,0.003177,0.003180,0.000139,-0.001028,-0.001211,-0.000543,-0.000921,-0.000543,-0.002386,-0.005180,0.001517,-0.008573,-0.002899,-0.006324,-0.001047,-0.004101,-0.001273,0.004642,0.210407,1.000000,-0.015938,-0.017839,0.015730
AMT_REQ_CREDIT_BUREAU_MON,-0.000885,-0.014120,-0.010693,0.022098,0.055448,0.039490,0.057525,0.084170,0.001857,-0.037027,-0.012231,-0.011426,NaN,0.036647,-0.001101,0.005500,0.033435,0.025965,-0.008163,-0.072450,-0.070766,0.037823,-0.001290,0.008408,0.011299,-0.012478,-0.012953,-0.007706,0.052288,-0.007043,0.000131,-0.000043,0.000104,-0.002190,-0.041930,NaN,0.008758,0.007581,0.008091,-0.023993,-0.002989,0.019299,0.003030,0.002467,-0.000189,0.002467,0.010770,0.007113,0.001248,0.000680,-0.001507,-0.002768,-0.001341,0.000577,-0.002521,-0.000783,-0.004090,-0.015938,1.000000,-0.011564,-0.005937
AMT_REQ_CREDIT_BUREAU_QRT,0.000576,-0.001992,-0.011758,0.003764,0.017268,0.011489,0.017864,-0.000026,-0.015116,0.021604,-0.001525,-0.009155,NaN,-0.021481,-0.030183,0.007219,-0.017319,0.017675,-0.007201,0.006611,0.005904,-0.004393,-0.002459,-0.006260,-0.007564,0.001665,-0.005795,-0.007086,-0.004676,-0.025048,0.004143,-0.001366,0.003794,-0.000483,-0.000481,NaN,0.010132,-0.000201,-0.006509,0.014868,-0.002231,-0.004790,-0.004339,0.006509,-0.007839,-0.001387,-0.006389,-0.004836,-0.000822,0.004954,-0.001982,-0.006591,-0.002269,-0.002105,-0.002539,-0.003011,-0.005195,-0.017839,-0.011564,1.000000,0.099601
AMT_REQ_CREDIT_BUREAU_YEAR,0.004648,0.021867,-0.043750,0.010510,-0.048587,-0.012055,-0.051069,0.002564,-0.072374,0.051890,-0.024223,-0.034202,NaN,-0.051836,-0.077715,0.025912,-0.034927,0.055508,-0.030824,0.010545,0.009842,-0.031045,-0.016986,-0.020540,-0.016887,-0.004256,-0.009337,-0.010037,-0.021131,-0.070243,0.033690,0.019450,0.033953,0.017803,-0.109252,NaN,0.043428,0.000783,-0.009531,0.014614,0.003667,-0.024211,-0.011434,0.000169,-0.032728,-0.002412,-0.033969,-0.031432,-0.015808,-0.042481,-0.010702,-0.045842,-0.008317,-0.013200,-0.004979,-0.004260,-0.003923,0.015730,-0.005937,0.099601,1.000000

Nas colunas de tipo numérico, os valores nulos serão substituídos pela média dos valores contidos na coluna.
Para as colunas do tipo categórico os valores serão subistituídos pela moda dos valores contidos na coluna.

In [24]:
# Analisar se plausível a substituição dos nulos.

In [25]:
for column, row in df.iteritems():
    if df[column].dtype == 'float64' or df[column].dtype == 'int64':
        df[column] = df[column].fillna(df[column].mean())
    else:
        df[column] = df[column].fillna(df[column].mode()[0])

Não resta, então, nenhum valor nulo.

In [27]:
df.isnull().sum().sum()

0

In [28]:
type(3)

int

In [29]:
#df=df.dropna(axis=0, how='any')
#df

In [30]:
df = df.fillna(df.mean())

/tmp/ipykernel_20200/513357919.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.fillna(df.mean())

In [31]:
df.isnull().sum()

SK_ID_CURR                    0
TARGET                        0
NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
                             ..
AMT_REQ_CREDIT_BUREAU_DAY     0
AMT_REQ_CREDIT_BUREAU_WEEK    0
AMT_REQ_CREDIT_BUREAU_MON     0
AMT_REQ_CREDIT_BUREAU_QRT     0
AMT_REQ_CREDIT_BUREAU_YEAR    0
Length: 72, dtype: int64