Questão 1
Quantas observações e quantas colunas há no dataset completo (todas as bases juntas)? Responda no formato de uma tuple (n_observacoes, n_colunas).

In [3]:
import pandas as pd

In [35]:
entrada = []
def open_file():
    print('Digite nome do arquivo[sem extensão]:')
    print('Digite o nome e aperte enter')

    for i in range(0, 3):
        entrada.append(input(f'Digite o {i + 1}° arquivo: '))
        entrada[i] += '.csv'

In [36]:
open_file()

Digite nome do arquivo[sem extensão]:
Digite o nome e aperte enter

Digite o 1° arquivo:  product_info
Digite o 2° arquivo:  purchase
Digite o 3° arquivo:  user_profile

In [37]:
entrada

['product_info.csv', 'purchase.csv', 'user_profile.csv']

In [38]:
def read_file():
    for file in range(0, len(entrada)):
        arquivo_leitura = pd.read_csv(entrada[file])
        print(arquivo_leitura)

In [39]:
read_file()

     Product_ID;Product_Category_1;Product_Category_2;Product_Category_3
0                                         P00069042;3;;
1                                  P00248942;1;6.0;14.0
2                                        P00087842;12;;
3                                    P00085442;12;14.0;
4                                         P00285442;8;;
...                                                 ...
3618                                      P00065942;8;;
3619                                      P00329042;8;;
3620                                      P00038842;7;;
3621                                      P00295642;2;;
3622                                     P00091742;13;;

[3623 rows x 1 columns]
        User_ID Product_ID  Purchase
0       1000001  P00069042      8370
1       1000001  P00248942     15200
2       1000001  P00087842      1422
3       1000001  P00085442      1057
4       1000002  P00285442      7969
...         ...        ...       ...
537572  1004737  P00193542     11664
537573  1004737  P00111142     19196
537574  1004737  P00345942      8043
537575  1004737  P00285842      7172
537576  1004737  P00118242      6875

[537577 rows x 3 columns]
     User_ID|Gender|Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status
0                               1000001|F|0-17|10|A|2|0
1                               1000002|M|55+|16|C|4+|0
2                              1000003|M|26-35|15|A|3|0
3                               1000004|M|46-50|7|B|2|1
4                              1000005|M|26-35|20|A|1|1
...                                                 ...
5886                            1004588|F|26-35|4|C|0|0
5887                           1004871|M|18-25|12|C|2|0
5888                           1004113|M|36-45|17|C|3|0
5889                            1005391|M|26-35|7|A|0|0
5890                           1001529|M|18-25|4|C|4+|1

[5891 rows x 1 columns]

In [ ]:
with open('product_info.csv', 'r') as file: 
     leitor = csv.DictReader(file, delimiter=',')
     for coluna in leitor:
         print(coluna)

In [51]:
arquivo = pd.DataFrame(open_file())

Digite nome do arquivo[sem extensão]:
Digite o nome e aperte enter

Digite o 1° arquivo:  product_info
Digite o 2° arquivo:  purchase
Digite o 3° arquivo:  user_profile

Empty DataFrame
Columns: []
Index: []

     Product_ID;Product_Category_1;Product_Category_2;Product_Category_3
0                                         P00069042;3;;
1                                  P00248942;1;6.0;14.0
2                                        P00087842;12;;
3                                    P00085442;12;14.0;
4                                         P00285442;8;;
...                                                 ...
3618                                      P00065942;8;;
3619                                      P00329042;8;;
3620                                      P00038842;7;;
3621                                      P00295642;2;;
3622                                     P00091742;13;;

[3623 rows x 1 columns]